
<script>
		var ctx = document.getElementById("myChart1").getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ["Tiang A", "Tiang B", "Tiang C"],
				datasets: [{
					label: 'Tingkat Gas',
					data: [{{tiang1.sensor_value}},{{tiang2.sensor_value}},{{tiang3.sensor_value}}],
					backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)'
					],
					borderColor: [
					'rgba(255,99,132,1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				}
			}
		});
</script>

 <script>
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Tiang A', 0],
          ['Tiang B', 0],
          ['Tiang C', 0]
        ]);

        var options = {
		  max: 1024,
          width: '100%', height: '120px',
          redFrom: 800, redTo: 1024,
          yellowFrom:600, yellowTo: 800,
          minorTicks: 5
        };
			{% comment %} options.chartArea = { left: '10%', top: '5%', width: "85%", height: "80%" };
				
				//create trigger to resizeEnd event     
				$(window).resize(function() {
				if(this.resizeTO) clearTimeout(this.resizeTO);
				this.resizeTO = setTimeout(function() {
					$(this).trigger('resizeEnd');
				}, 500);
				});

			//redraw graph when window resize is completed  
			$(window).on('resizeEnd', function() {
			drawChart(data);
			}); {% endcomment %}
//end
        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
			$.ajax({
				url:'{% url 'api:ajaxgasview' 'Tiang A' %}',
				dataType: "json",
				success:function(response){
					console.log(response)
					data.setValue(0,1, response.sensor_value);
					chart.draw(data, options);
				}
			});
        }, 1000);
        setInterval(function() {
			$.ajax({
				url:'{% url 'api:ajaxgasview' 'Tiang B' %}',
				dataType: "json",
				success:function(response){
					console.log(response)
					data.setValue(1,1, response.sensor_value);
					chart.draw(data, options);
				}
			});
        }, 1000);
        setInterval(function() {
			$.ajax({
				url:'{% url 'api:ajaxgasview' 'Tiang C' %}',
				dataType: "json",
				success:function(response){
					console.log(response)
					data.setValue(2,1, response.sensor_value);
					chart.draw(data, options);
				}
			});
        }, 1000);
      }
    </script>
