
<script>
		var ctx = document.getElementById("myChart1").getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ["Tiang A", "Tiang B", "Tiang C"],
				datasets: [{
					label: 'Tingkat Gas',
					data: [{{tiang1.sensor_value}},{{tiang2.sensor_value}},{{tiang3.sensor_value}}],
					backgroundColor: [
					//TIANG1
					{% if tiang1.sensor_value >= 1000 %}
						'rgba(255, 0, 0, 0.2)',
					{% elif tiang1.sensor_value >= 500 and tiang1.sensor_value < 1000 %}
						'rgba(255, 255, 0, 0.2)',
					{% else %}
						'rgba(0, 255, 0, 0.2)',
					{% endif %}
					//TIang 2
					{% if tiang2.sensor_value >= 1000 %}
						'rgba(255, 0, 0, 0.2)',
					{% elif tiang2.sensor_value >= 500 and tiang2.sensor_value < 1000 %}
						'rgba(255, 255, 0, 0.2)',
					{% else %}
						'rgba(0, 255, 0, 0.2)',
					{% endif %}
					//Tiang 3
					{% if tiang1.sensor_value >= 1000 %}
						'rgba(255, 0, 0, 0.2)',
					{% elif tiang1.sensor_value >= 500 and tiang1.sensor_value < 1000 %}
						'rgba(255, 255, 0, 0.2)',
					{% else %}
						'rgba(0, 255, 0, 0.2)',
					{% endif %}
					],
					borderColor: [
					'rgba(0,0,0,1)',
					'rgba(0,0,0,1)',
					'rgba(0,0,0,1)',
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				}
			}
		});
		setInterval(function(){
			myChart.data.datasets[0].data = nilai;
			myChart.data.datasets[0].data.forEach(function(item,index){
				if(item >= 500){
					myChart.data.datasets[0].backgroundColor[index] = 'rgba(255, 0, 0, 0.2)';
				}
				else if(item >= 250 && item <500){
					myChart.data.datasets[0].backgroundColor[index] = 'rgba(255, 255, 0, 0.2)';
				}
				else{
					myChart.data.datasets[0].backgroundColor[index] = 'rgba(0, 255, 0, 0.2)';
				}
			});
			myChart.update();
		},5000);
</script>

 <script>
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);
	  let data;
	  let options;
      function drawChart() {

        data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Tiang A', 0],
          ['Tiang B', 0],
          ['Tiang C', 0]
        ]);

        options = {
		  max: 3000,
          width: '100%', height: '120px',
          redFrom: 500, redTo: 1024,
          yellowFrom:250, yellowTo: 500,
          minorTicks: 10
        };
//end
        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);
		setInterval(function(){
			window.myChart.data.datasets[0].data.forEach(function(item,index){
				data.setValue(index,1,item);
				chart.draw(data, options);
			});
		}, 5000);

      }
    </script>
