{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ judul }}</title>
    {% include 'snippets/scripts.html' %}
    {% include 'snippets/styles.html' %}
</head>

<div class="panel-heading"><marquee style="color:red; font-size: 24px;"><b>

    {% block marquee %}

    REALTIME DATA KADAR GAS METANA (CH4) DI TPA GALUGA
    {% endblock marquee %}

    </b></marquee></div>
<center><div style="color:darkgreen; font-size: 24px;">
        </div></center>
<body bgcolor="#87cefa">

    <script>
        {% if tiang1.sensor_value >= 1000 %}
            let toast = VanillaToasts.create({
                title: 'Tiang 1',
                text: 'STATUS: BERBAHAYA',
                type: 'error',
                positionClass: 'bottomRight',
                timeout: 5000, // hide after 5000ms, // optional parameter

            });
            VanillaToasts.setTimeout(toast.id, 1000);
        {% endif %}

        {% if tiang1.sensor_value >= 1000 %}
            let toast = VanillaToasts.create({
                title: 'Tiang 2',
                text: 'Status Berbahaya',
                type: 'error',
                positionClass: 'bottomRight',
                timeout: 5000, // hide after 5000ms, // optional parameter

            });
            VanillaToasts.setTimeout(toast.id, 1000);
        {% endif %}

        {% if tiang1.sensor_value >= 1000 %}
            let toast = VanillaToasts.create({
                title: 'Tiang 3',
                text: 'STATUS: BERBAHAYA',
                type: 'error',
                positionClass: 'bottomRight',
                timeout: 5000, // hide after 5000ms, // optional parameter

            });
            VanillaToasts.setTimeout(toast.id, 1000);
        {% endif %}
    </script>

    {% block link %}
    {% endblock link %}
    {% block table %}
        <div class="table-responsive-md">
            <table class="table table-bordered table-striped table-hover" id="myTable">
                <thead class="thead-dark">
                    <tr>
                    {% block field %}
                        <th scope="col">No</th>
                        <th scope="col">Time stamp</th>
                        <th scope="col">Nilai Sensor (PPM)</th>
                    {% endblock field %}
                    </tr>
                </thead>
                <tbody id="myTbody">
                    {% block record %}
                    <tr>
                                <td><center>{{tiang1.no_tiang}}</center></td>
                                <td><center>{{tiang1.time_stamp}}</center></td>
                                <td><center>{{tiang1.sensor_value}}</center></td>
                    </tr>
                    <tr>
                                <td><center>{{tiang2.no_tiang}}</center></td>
                                <td><center>{{tiang2.time_stamp}}</center></td>
                                <td><center>{{tiang2.sensor_value}}</center></td>
                    </tr>
                    <tr>
                                <td><center>{{tiang3.no_tiang}}</center></td>
                                <td><center>{{tiang3.time_stamp}}</center></td>
                                <td><center>{{tiang3.sensor_value}}</center></td>
                    </tr>

                    {% endblock record %}
                </tbody>
            </table>
        </div>
    {% endblock table %}


    {% block chart %}
    <div class="container-fluid">
            {% comment %} <div class="col-md-5" style="float: center;">
                <canvas id="myChart1"></canvas>
                <br>
                {% if tiang1.sensor_value >= 1000 %}
                    <p class="text-danger">- {{tiang1.no_tiang}} : BERBAHAYA </p>
                {% elif tiang1.sensor_value >= 500 and tiang1.sensor_value < 1000 %}
                    <p class="text-warning">- {{tiang1.no_tiang}} : SEDANG </p>
                {% elif tiang1.sensor_value < 200 %}
                    <p class="text-success">- {{tiang1.no_tiang}} : AMAN </p>
                {% else %}
                    <p>- Tiang A : NO DATA </p>
                {% endif %}

                {% if tiang2.sensor_value >= 1000 %}
                    <p class="text-danger">- {{tiang2.no_tiang}} : BERBAHAYA </p>
                {% elif tiang2.sensor_value >= 500 and tiang2.sensor_value < 1000 %}
                    <p class="text-warning">- {{tiang2.no_tiang}} : SEDANG </p>
                {% elif tiang2.sensor_value < 200 %}
                    <p class="text-success">- {{tiang2.no_tiang}} : AMAN </p>
                {% else %}
                    <p>- Tiang B : NO DATA </p>
                {% endif %}

                {% if tiang3.sensor_value >= 1000 %}
                    <p class="text-danger">- {{tiang3.no_tiang}} : BERBAHAYA </p>
                {% elif tiang3.sensor_value >= 500 and tiang3.sensor_value < 1000 %}
                    <p class="text-warning">- {{tiang3.no_tiang}} : SEDANG </p>
                {% elif tiang3.sensor_value < 200 %}
                    <p class="text-success">- {{tiang3.no_tiang}} : AMAN </p>
                {% else %}
                    <p>- Tiang C : NO DATA </p>
                {% endif %}
            </div> {% endcomment %}
            <div id="chart_wrap">
                <div id="chart_div"></div>
            </div>
    </div>

{% include 'scripts/charts.html' %}
    {% endblock chart %}


</body>
</html>
