@media screen and (max-width: 750px){
    div{
        font-size: 10px;
    }
}

#chart_wrap {
    position: absolute;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
    text-align: center;
}

#chart_div {
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height:240px;
}